@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
.title, .paragraph {
  margin-left: 75px;
  margin-bottom: 100px;
  padding-right: 50px; }
  .title h1, .paragraph h1 {
    font-size: 1.2em;
    letter-spacing: .3px;
    line-height: 1.4em; }

.prelude {
  display: block;
  color: #a9a9a9;
  margin-bottom: 15px; }

.row {
  width: 100%;
  margin-bottom: 75px; }
  .row img {
    width: 100%;
    height: 100%; }

.row-detail {
  width: 100%;
  margin-bottom: 50px; }
  .row-detail img {
    width: 100%;
    height: 100%; }

p {
  padding-bottom: 25px; }

.important {
  font-weight: 600; }

.link {
  color: #222222;
  text-decoration: none;
  border-bottom: 1px solid #222222;
  padding-bottom: 1px;
  transition: all .4s; }

.link:hover {
  border-bottom: 1px solid transparent;
  text-decoration: line-through; }

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .wrapper .lazy {
    transition: all .4s ease; }

.overlay {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity .4s; }
  .overlay h2 a {
    color: #222222;
    text-decoration: none; }

.wrapper:hover .overlay {
  opacity: 1; }

.wrapper:hover .lazy {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.5; }

.contact-wrapper {
  background-color: #222222;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  margin-top: -100px; }

form {
  margin-left: 75px;
  padding-right: 50px; }
  form p {
    padding-top: 25px;
    font-size: .8em; }

textarea {
  background-color: #222222;
  color: #ffffff;
  border: none;
  display: block;
  width: 100%;
  resize: none;
  caret-color: #ffffff; }

textarea::placeholder {
  color: #a9a9a9; }

input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 5px 0;
  color: #ffffff;
  width: 100px;
  text-align: center;
  font-weight: 600;
  transition: all .4s;
  background-color: transparent;
  border-radius: 0;
  -webkit-appearance: none; }

input[type="submit"]:hover {
  border: 2px solid #c0f70c;
  color: #c0f70c; }

.coordinates {
  padding-left: 15px; }

*:focus {
  outline: none; }

.error {
  color: #e74c3c; }

.success {
  color: #c0f70c; }

.buttons {
  margin-left: 75px;
  margin-bottom: 100px; }

.btn {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #222222;
  padding: 5px 0;
  color: #222222;
  width: 100px;
  text-align: center;
  font-weight: 600;
  transition: all .4s; }

.btn:hover {
  border: 2px solid #c0f70c;
  color: #c0f70c; }

@media screen and (min-width: 600px) {
  .row {
    margin-bottom: 200px; }

  .row-1 {
    margin-left: 75px;
    width: 40%; }

  .row-2 {
    margin-left: auto;
    width: 50%; }

  .row-3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

  .row-4 {
    margin-left: auto;
    margin-right: auto;
    width: 40%; }

  .paragraph {
    width: 75%; } }

/*# sourceMappingURL=content.css.map */
