@import "satch";

//basic header styling
header{
  font-weight: 600;
  margin-top: $xl;
  margin-left: $l;
  margin-bottom: $xxl;

  div{
    display: block;
    vertical-align: center;
    line-height: 36px;
  }

  //a element that show logo instead of link text
  .logo{
    //set bgi and remove link text
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    text-indent: -9999px;
    background-image: url(../assets/logo.svg);
    background-repeat:no-repeat;

    //little space betwoon logo and navigation
    margin-bottom: $l;
  }

  .logo:hover{
    animation-name: turning;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes turning {
    0%{
      transform: rotate(0);
    }
    20%{
      transform: rotate(-0.5turn);
    }
    100%{
      transform: rotate(2turn);
    }
  }
}

//container div for dropdown, needed to position dropdown
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-button{
  color: $night;
  transition: all .4s;
  text-decoration: none;
}

.dropdown-button:hover{
  text-decoration: line-through;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: $snow;

  //little space between button and dropdown
  margin-top: $xs;

  a{
    padding: $xs;
    text-decoration: none;
    display: block;
    color: $evening;
    border-top: 1px solid $beton;
    border-left: 1px solid $beton;
    border-right: 1px solid $beton;
    transition: all .4s;
  }
  a:last-child{
    border-bottom: 1px solid $beton;
  }

  a:hover{
    color: $night;
    text-decoration: line-through;
  }
}

.show{
  display: block;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px;
}