// === available colors
$night: #222222;
$evening: #a9a9a9;
$beton: #f1f1f1;
$lime: #c0f70c;
$snow: #ffffff;
$tomato: #e74c3c;

// === available spacings
$xxs: 5px;
$xs: 15px;
$s: 25px;
$m: 50px;
$l: 75px;
$xl: 100px;
$xxl: 200px;

// === fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

// === to remember


